button:focus,
a:focus,
input {
  outline: none;
}

._text:hover {
  color: black;
}

/* banner */
.header__item a:hover,
.header__item a:focus {
  border-bottom-color: #fce38a;
  color: #fce38a;
  outline: none;
}

#header-shop:hover,
#header-shop:focus,
#header-search:hover,
#header-search:focus {
  background: #fce38a;
  border-radius: 100%;
}

.banner__button a:hover {
  border-color: transparent;
  box-shadow: 0px 0px 10px #fce38a,
    7px 0 1px #95e1d3,
    inset -7px 0 1px #fce38a,
    -7px 0 1px #95e1d3,
    inset 7px 0 1px #fce38a;
  border-bottom-color: #fce38a;
  border-top-color: #fce38a;
}

.banner__button a:focus {
  border-color: transparent;
  box-shadow: 0px 0px 10px #fce38a,
    7px 0 1px #f38181,
    inset -7px 0 1px #fce38a,
    -7px 0 1px #f38181,
    inset 7px 0 1px #fce38a;
  border-bottom-color: #fce38a;
  border-top-color: #fce38a;
}

/* about */
@keyframes movingItems {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.about__item._active-anim .about__hover-icon {
  animation: movingItems 1.7s linear .6s infinite;
}

.about__item:hover,
.about__item:focus {
  box-shadow: 10px 10px 1px #95e1d3;
  transform: translate(-10px, -10px);
}

.about__item:hover .about__hover-item,
.about__item:focus .about__hover-item {
  opacity: 1;
  transform: rotateY(0deg);
}

.about__item:focus .about__hover-item span {
  text-shadow: 1px 2px 3px black;
  color: #95e1d3;
}

.about__hover-item span:hover {
  text-shadow: 1px 2px 3px black;
  color: #95e1d3;
}

/* facts */
.facts__item._active {
  box-shadow: 0 15px 0 #95e1d3,
    0 -15px 0 #95e1d3,
    var(--fWidthPl) 0 1px #f38181,
    var(--fWidthMi) 0 1px #f38181;
  border-color: transparent !important;
  z-index: 10;
  text-shadow: 2px 2px 10px #f38181,
    var(--fWidthPl) 0 1px white,
    var(--fWidthMi) 0 1px white;
}

.facts__item._active1 {
  box-shadow: 0 15px 0 #95e1d3,
    0 -15px 0 #95e1d3,
    var(--fWidthPl) 0 1px #f38181;
  border-color: transparent !important;
  z-index: 10;
  text-shadow: 2px 2px 10px #f38181,
    var(--fWidthPl) 0 1px white;
}

.facts__item._active5 {
  box-shadow: 0 15px 0 #95e1d3,
    0 -15px 0 #95e1d3,
    var(--fWidthMi) 0 1px #f38181;
  border-color: transparent !important;
  z-index: 10;
  text-shadow: 2px 2px 10px #f38181,
    var(--fWidthMi) 0 1px white;
}

/* service */
.service__item:hover .service_svg path {
  fill: #f38181;
}

.service__item:hover .service__text span {
  color: #f38181;
  opacity: 1;
}

.service__item:hover .service__text p {
  color: black;
}

/* service2 */

.service2__button:hover {
  box-shadow: 5px 0px 3px #95e1d3;
  border-top-right-radius: 5px;
}

.service2__button:focus {
  box-shadow: 6px -6px 1px #95e1d3;
  border-top-right-radius: 10px;
}

.service2__hidden-text p::-webkit-scrollbar-track:hover {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
}

/* quote and testimonial and text-slider */
.text-slider__text:hover {
  color: black;
}

.quote__item:nth-child(1) .quote__image:hover {
  border-radius: 50%;
}

.quote__item:nth-child(2) .quote__image:hover {
  border-color: #f38181;
}

.quote__item:nth-child(3) .quote__image:hover {
  border-color: rgb(149, 225, 211);
}

.quote__item:nth-child(3) .quote__image:hover path {
  fill: #f38181;
}

.quote__item:nth-child(4) .quote__image:hover {
  border-color: #f38181;
}

.quote__item:nth-child(5) .quote__image:hover {
  border-color: rgb(149, 225, 211);
  border-radius: 0%;
}

.quote__item:nth-child(5) .quote__image:hover path {
  fill: rgb(149, 225, 211);
}

#quote__right-arrow:hover path,
#quote__left-arrow:hover path,
#testimonial__right-arrow:hover path,
#testimonial__left-arrow:hover path,
#quote__right-arrow:focus path,
#quote__left-arrow:focus path,
#testimonial__right-arrow:focus path,
#testimonial__left-arrow:focus path {
  fill: #f38181;
}

#quote__right-arrow:hover,
#testimonial__right-arrow:hover,
#quote__right-arrow:focus,
#testimonial__right-arrow:focus {
  border-right-color: #f38181;
}

#quote__left-arrow:hover,
#testimonial__left-arrow:hover,
#quote__left-arrow:focus,
#testimonial__left-arrow:focus {
  border-left-color: #f38181;
}

/* team */
@keyframes movingIconsBottom {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-28px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(28px);
  }

  100% {
    transform: translateY(0px);
  }
}

.team__image._active-anim .team__icon:nth-child(1) {
  animation: movingIconsBottom 1.5s linear .6s infinite;
}

.team__image._active,
.team__image:hover {
  box-shadow: 10px 10px 1px #95e1d3;
  transform: translate(-10px, -10px);
}

.team__image._active .team__hover-item,
.team__image:hover .team__hover-item {
  opacity: 1;
  transform: rotateY(0deg);
}

.team__icon:hover,
.team__icon:focus {
  background-color: #f38181;
  transform: translateY(-10px);
}

.team__icon:hover path,
.team__icon:focus path {
  fill: white;
}

.team__icon:focus {
  transform: translateY(-25px);
}

.team__subtitle span:hover,
.team__subtitle p:hover {
  opacity: 1;
}

.team__subtitle p:hover {
  color: black;
}

/* logos */
.logos__item._anim-active:hover {
  transform: scale(1.2) rotate(360deg);
}

/* work */
.work__item:hover .work__hover-content {
  opacity: 1;
  transform: rotateY(0deg);
}

/* comments */
.comments__text._anim-active:hover {
  color: black;
}

.comments__image img:hover {
  transform: scale(1.2);
}

/* blog */
.blog__item:hover .blog__date {
  background: #f38181;
}

.blog__item:hover .blog__text {
  color: black;
}

.blog__item:hover .blog__svg-icon path {
  fill: #f38181;
}

.blog__item:hover .blog__subtitle {
  opacity: 1;
}

.blog__item:hover .blog__icons {
  color: black;
}

/* map */
.map__row:hover .map__title,
.map__row:focus .map__title {
  color: #95e1d3;
  text-shadow: 2px 2px 2px #f38181;
}

/* links */
.subscribe-links:hover .subscribe-links__title,
.subscribe-links:hover .subscribe-links__text,
.subscribe-links:hover .subscribe-links__icons span {
  color: black;
}

.subscribe-links__icon:hover path,
.subscribe-links__icon:focus path {
  fill: #f38181;
}

#subscribe-links_email-input:hover {
  box-shadow: inset 0 0 8px #95e1d3;
}

#subscribe-links_email-input:focus {
  box-shadow: inset 0 0 5px #f38181;
}

#subscribe-links_subscribe-input:hover {
  box-shadow: inset 0 0 15px #f38181;
}

#subscribe-links_subscribe-input:focus {
  background: #f38181;
}

.blogs-links__image img:hover {
  transform: scale(1.1) translateY(-10px);
}

.instagram-links__label:hover {
  color: #95e1d3;
  text-decoration: underline;
}

.instagram-links__label:focus {
  color: #f38181;
  text-decoration: underline;
}

/*shopSlider*/
#shop_button-close:hover,
#shop_button-close:focus {
  border-color: #fce38a;
  box-shadow: inset 0px 0px 5px #fce38a;
}

.shop-slider__container:hover .shop-slider__hover {
  transform: rotateY(0deg);
  opacity: 1;
  color: white;
  text-shadow: 1.5px 1.5px 1.5px dimgray;
}

.shop-slider__container:hover b {
  color: white;
  transform: translateY(0px);
}

.shop-slider__container:hover #shop-slider__button {
  opacity: 1;
  color: white;
  border-color: white;
  background: transparent;
  pointer-events: all;
  transform: translateY(20px);
}

.shop-slider__container:hover .shop-slider__svg-icon {
  fill: white;
}

#shop-slider__button:hover,
#shop-slider__button:focus {
  background: dimgray !important;
  border-color: transparent !important;
  color: #fce38a !important;
}

#shop-slider__button:hover .shop-slider__svg-icon,
#shop-slider__button:focus .shop-slider__svg-icon {
  fill: #fce38a;
}

/* animation JS */

.header__logo._anim-active,
.facts__item1._anim-active,
.facts__item5._anim-active,
.service__item._anim-active .service__icon,
.service__item._anim-active p,
.feauture__images._anim-active .feauture__phone,
.logos__item._anim-active:nth-child(1),
.logos__item._anim-active:nth-child(6),
.comments__image._anim-active,
.comments__career._anim-active,
.subscribe-links__subtitle._anim-active,
.instagram-links__label._anim-active {
  opacity: 1;
  transform: translateX(0px);
}

.slider__row._anim-active #bannerLine,
.slider__row._anim-active #workLine,
.slider__row._anim-active #blogLine,
.slider__row._anim-active #contactsLine,
#bannerItemLine._anim-active .slider__text,
#workItemLine._anim-active .slider__text,
#blogItemLine._anim-active .slider__text,
#contactsItemLine._anim-active .slider__text,
.title_span_anim._anim-active,
.banner__title_span._anim-active span,
._text._anim-active,
.facts__item2._anim-active,
.facts__item3._anim-active,
.facts__item4._anim-active,
.service__item._anim-active span,
.feauture__images._anim-active .feauture__display,
.service2__item._anim-active .service2__button,
.service2__item._anim-active p,
.team__subtitle._anim-active p,
.logos__item._anim-active:nth-child(2),
.logos__item._anim-active:nth-child(3),
.logos__item._anim-active:nth-child(4),
.logos__item._anim-active:nth-child(5),
.comments__name._anim-active,
.comments__text._anim-active,
.blog__text._anim-active,
.blog__item:nth-child(2) .blog__image._anim-active,
.blog__date._anim-active,
.subscribe-links__title._anim-active,
.subscribe-links__text._anim-active,
.subscribe-links__subtitle._anim-active,
.subscribe-links__icons._anim-active,
.blogs-links__title._anim-active,
.blogs-links__image._anim-active,
.blogs-links__text._anim-active,
.instagram-links__title._anim-active {
  opacity: 1;
  transform: translateY(0px);
}

.banner__title_h1T._anim-active h1,
.banner__title_h1B._anim-active h1,
.title_h1_anim._anim-active,
.quote__row._anim-active,
.testimonial__row._anim-active,
.blog__subtitle._anim-active,
.subscribe-links__input._anim-active {
  opacity: 1;
  transform: rotateY(0deg);
}

.team__subtitle._anim-active span,
.blog__icons._anim-active,
.blogs-links._anim-active,
.blogs-links__lable._anim-active {
  opacity: 1;
  transform: rotateX(0deg);
}

._anim-active.__decoration-red-line::after,
.banner__button._anim-active a,
.work__box._anim-active,
.instagram-links__item._anim-active img {
  opacity: 1;
  transform: scale(1);
}

.about__box-image .about__item-block._anim-active,
.team__box._anim-active {
  opacity: 1;
  transform: translateX(0px) skew(0deg);
}

.service2__image._anim-active {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.comments__career._anim-active:after,
.map__icon._anim-active {
  opacity: 1;
  transform: translateX(0px) translateY(0px) scale(1);
}

.blog__date._anim-active,
.blog__item:nth-child(1) .blog__image._anim-active,
.blog__item:nth-child(3) .blog__image._anim-active {
  opacity: 1;
  transform: rotate(0deg) translateY(0px);
}

/* MEDIA ANIMATION */
/* 900px */
@media screen and (max-width:900px) {

  .logos__item._anim-active:nth-child(1),
  .logos__item._anim-active:nth-child(2),
  .logos__item._anim-active:nth-child(3),
  .logos__item._anim-active:nth-child(4),
  .logos__item._anim-active:nth-child(5),
  .logos__item._anim-active:nth-child(6) {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* 650px */
@media screen and (max-width:650px) {

  .facts__item1._anim-active,
  .facts__item3._anim-active,
  .facts__item4._anim-active,
  .facts__item5._anim-active {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* 535px */
@media screen and (max-width:535px) {

  .logos__item._anim-active:nth-child(3),
  .logos__item._anim-active:nth-child(4) {
    opacity: 1;
    transform: translateX(0px);
  }
}